@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;500;600;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
}
.cointainer{
    max-width: 1267px;
    width: 100%;
    margin: 0 auto;
}

.navlinks > li:hover a{
    border-bottom: 3px solid #ffce4e;
}